# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Output & Builds
dist/
build/
.output/

# Prisma / Database
prisma/*.db
prisma/*.db-journal
dev.db
dev.db-journal

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / System
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
